body {
    font-family: Arial, sans-serif;
    background-color: #aa2626;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #534545;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    animation: heartbeat 1s ease infinite alternate;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

input[type="text"], select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

#filterOptions {
    width: 110px;
}

.menu-icon {
    font-size: 26px;
    font-weight: bolder;
    color: #ff7f50;
    margin-left: 240px;
    cursor: pointer;
}

.dropdown-menu {
    background-color: #2b2626;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    width: 150px;
    margin-top: 1px; 
    margin-left: 250px;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
    color: rgb(32, 16, 16);
    cursor: pointer;
    background-color: #ff6347;
    margin-top: -5px;
    z-index: 1;
}

.dropdown-menu li:hover {
    background-color: #ad2912; 
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6347;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px;
    background-color: #555;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin-bottom: 8px;
    color: #382a2a;
    font-weight: bold;
}

li.completed {
    text-decoration: line-through;
    background-color: #4CAF50;
}

li.important {
    background-color: #FFC107;
}

.delete-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
}

li:hover .delete-btn {
    opacity: 1;
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li div {
    display: flex; 
    gap: 10px; 
}

li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

li button:hover {
    opacity: 0.7;    
}
